<!DOCTYPE HTML>
<html xmlns=" http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="header_section">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/affablebean.css}"/>
        <link rel="icon" type="image/png" th:href="@{/img/favicon.ico}"/>
        <title>Affable Bean Home Page</title>
    </head>

</html>