<!DOCTYPE HTML>
<html xmlns=" http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/affablebean.css}"/>
        <link rel="icon" type="image/png" th:href="@{/img/favicon.ico}"/>
        <title>Affable Bean Home Page</title>
    </head>

    <div id="header" th:fragment="top_section">
        <div id="widgetBar">

            <div class="headerWidget">
                english | <span class="bubble">
                        <a href="chooseLanguage?language=fa">persian</a></span>
            </div>
            <div class="headerWidget">
            </div>

            <div id="viewCart" class="headerWidget">
                <img id="cart" alt="shopping cart icon" th:src="@{/img/cart.gif}"/>
                    <span th:if="${session.shoppingCart!=null}"
                          th:text="${session.shoppingCart.shoppingCartItemCount} +' items'"
                          class="horizontalMargin">
                          0 items
                    </span>
                    <span th:if="${session.shoppingCart==null}" class="horizontalMargin">                         0 items
                    </span>
                <a th:if="${session.shoppingCart!=null}" href="viewCart" class="bubble"> view cart </a>
            </div>
        </div>

        <a th:href="@{/}">
            <img alt="Affable Bean logo" id="logo" th:src="@{/img/logo.png}"/>
        </a>

        <img alt="the affable bean" id="logoText" th:src="@{/img/logoText.png}"/>
    </div>
</html>