
body {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    position: relative;
    text-align: center;
    width: 1082px;
}

#main {
    background: none repeat scroll 0 0 #f7f7e9;
    float: right;
    width: 850px;
}

.noteBubble {
    background-color: #d3ede8;
    border-radius: 4px;
    font-size: 11pt;
    padding: 0 10px;
    position: absolute;
    text-align: left;
    width: 182px;
}

#demoNote {
    top: 30px;
}

#adminNote {
    top: 204px;
}

#timeoutNote {
    top: 352px;
}

#databaseNote {
    top: 467px;
}

hr {
    background-color: #333;
    border: 0 none;
    height: 1px;
}

table {
    border: 1px solid #f5eabe;
    border-spacing: 0;
    margin: 0 20px;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

img {
    border: medium none;
}

input, select {
    margin: 5px;
}

li {
    margin: 10px 0;
}

label {
    line-height: 30px;
}

label.error {
    font-size: smaller;
    font-style: italic;
    line-height: 20px;
}

#main {
    background: none repeat scroll 0 0 #f7f7e9;
}

#singleColumn {
    margin: 20px 30px;
    text-align: left;
}

.lightBlue {
    background-color: #edf8f7;
}

.white {
    background-color: #fff;
}

.bubble {
    background-color: #f5eabe;
    border-radius: 4px;
    color: inherit;
    font-weight: bold;
    padding: 5px;
}

.hMargin {
    margin: 0 30px;
}

.smallText {
    font-size: small;
}

.reallySmallText {
    font-size: xx-small;
}

.header {
    background-color: #c3e3e0;
    height: 30px;
}

.error {
    color: #c00;
    font-style: italic;
}

.tableHeading {
    background-color: #edf8f7;
    font-weight: bold;
}

#header {
    background: url("../img/stalk.png") no-repeat scroll 28px 28px rgba(0, 0, 0, 0);
    height: 250px;
    width: 850px;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: -20px;
}

#logoText {
    color: #333;
    float: left;
    font-family: "American Typewriter", Courier, monospace;
    font-size: 50px;
    margin: 20px 0 0 70px;
}

#widgetBar {
    float: right;
    height: 50px;
    width: 850px;
}

#cart {
    margin: 5px 0 0 2px;
    position: absolute;
}

.horizontalMargin {
    margin-left: 28px;
    margin-right: 5px;
}

#viewCart {
    text-align: left;
    width: 210px;
}

.headerWidget {
    float: right;
    font-size: small;
    line-height: 25px;
    margin: 20px 0;
    width: 194px;
}

#footer {
    clear: left;
    height: 60px;
    width: 350px;
}

#footerText {
    margin-top: 5px;
}

#footerDivider {
    margin: 0 25px;
    width: 300px;
}

#indexLeftColumn {
    float: left;
    height: 400px;
    text-align: left;
    width: 350px;
}

#indexRightColumn {
    float: left;
    height: 400px;
    text-align: left;
    width: 500px;
}

#welcomeText {
    line-height: 1.4em;
    margin: 30px 5px 0 30px;
}

.categoryBox {
    float: inherit;
    height: 176px;
    margin: 21px 14px 6px;
    width: 212px;
}

.categoryBox a {
    text-decoration: none;
}

.categoryLabel {
    background-color: #fff;
    height: 40px;
    margin: 2px;
    opacity: 0.7;
    position: absolute;
    width: 210px;
}

.categoryLabelText {
    font-size: x-large;
    line-height: 150%;
    margin: 3px 10px;
    position: absolute;
}

.categoryImage {
    border: 1px solid #555;
    padding: 1px;
}

#categoryLeftColumn {
    float: left;
    margin-top: 25px;
    padding-left: 15px;
    width: 185px;
}

#categoryRightColumn {
    float: left;
    margin-top: 10px;
    width: 650px;
}

.categoryButton {
    background-color: #d3ede8;
    border-radius: 4px;
    display: block;
    margin: 15px 22px;
    padding: 13px;
}

#selectedCategory {
    background-color: #b2d2d2;
    margin-left: 10px;
    width: 139px;
}

#categoryTitle {
    background-color: #f5eabe;
    border-radius: 4px;
    font-size: x-large;
    margin-top: -40px;
    padding: 7px;
    position: absolute;
    right: 180px;
}

.categoryText {
    font-size: x-large;
    line-height: 25px;
}

#productTable {
    position: relative;
    width: 600px;
    z-index: 1;
}

#productTable tr {
    height: 90px;
}

#productTable td {
    width: 145px;
}

#actionBar {
    margin: 30px;
    text-align: center;
    width: 750px;
}

#subtotal {
    margin: 40px 0 20px 430px;
}

#cartTable {
    width: 750px;
}

#cartTable td {
    height: 90px;
    width: 145px;
}

#checkoutTable {
    background-color: #f5eabe;
    border-radius: 4px;
    float: left;
    padding: 10px;
    width: 405px;
}

#checkoutTable td {
    margin: 5px;
    text-align: right;
    vertical-align: top;
}

.inputField {
    width: 190px;
}

#infoBox {
    padding: 10px 25px 0 460px;
}

#priceBox {
    background-color: #c3e3e0;
    border: 1px solid #c3e3e0;
    border-radius: 4px;
    padding: 10px;
}

#priceBox td {
    padding: 5px;
    text-align: right;
}

.checkoutPriceColumn {
    font-weight: bold;
    width: 80px;
}

.total {
    border-top: 1px solid #444;
}

.indent {
    margin-left: 6em;
}

#confirmationText {
    background-color: #f5eabe;
    border-radius: 4px;
    float: left;
    margin: 0 20px 20px;
    padding: 10px;
}

.summaryColumn {
    float: left;
    margin-top: 15px;
    width: 50%;
}

.detailsTable {
    text-align: left;
}

.detailsTable th {
    padding: 5px 10px;
}

.detailsTable td {
    font-family: "Courier New", courier, monospace;
    font-size: small;
    padding: 5px 10px 5px 20px;
}

#orderSummaryTable {
    width: 100%;
}

#deliveryAddressTable {
    margin-left: 15%;
    width: 70%;
}

#deliveryAddressTable td {
    padding-bottom: 10px;
    padding-top: 10px;
}

.quantityColumn {
    text-align: center;
    width: 62px;
}

.confirmationPriceColumn {
    font-weight: normal;
    width: 90px;
}

#deliverySurchargeCellLeft {
    padding: 0;
    text-align: right;
}

#deliverySurchargeCellRight {
    padding: 0 20px;
}

#totalCellLeft {
    padding: 0;
    text-align: right;
}

#totalCellRight {
    padding: 0 20px;
}

#dateProcessedRow {
    padding: 2px 0 10px 20px;
}

#adminLogo {
    float: left;
    margin-left: 30px;
    margin-top: -20px;
}

#loginBox {
    background-color: #f5eabe;
    border: 1px solid #f5eabe;
    border-radius: 4px;
    margin: 0 auto;
    width: 300px;
}

#adminMenu {
    background-color: #f5eabe;
    border: 1px solid #f5eabe;
    border-radius: 4px;
    float: left;
    margin: 25px 5px 0 30px;
    width: 180px;
}

#adminMenu p {
    margin-left: 15px;
}

#adminTable {
    background-color: #edf8f7;
    float: left;
    width: 580px;
}

.alignLeft {
    text-align: left;
}

.selectedRow {
    background-color: #c3e3e0;
    cursor: pointer;
}

.noDecoration {
    text-decoration: none;
}

.rigidWidth {
    width: 200px;
}

.embedded {
    border: medium none;
    margin: 0;
}
