<!DOCTYPE HTML>
<html xmlns=" http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/header_section::header_section">
    </head>


    <body>
        <div th:include="/fragments/left_section::left_section"></div>
        <div id="main">
            <div id="header" th:include="/fragments/top_section::top_section"></div>
            <div id="singleColumn">
                <div th:if="${session.shoppingCart==null or session.shoppingCart.isShoppingCartEmpty()}">
                    <p>Your shopping cart is empty </p>

                    <div id="actionBar">
                        <a href="category" class="bubble hMargin">continue shopping</a>
                    </div>

                </div>
                <div th:if="${session.shoppingCart!=null and not session.shoppingCart.isShoppingCartEmpty()}">
                    <p th:text="'Your shopping cart contains ' +${session.shoppingCart.shoppingCartItemCount}+ '
                        item.'"> Your shopping cart contains 1 item. </p>

                    <div id=" actionBar">
                        <a href="viewCart?clear=true" class="bubble hMargin">clear cart</a>
                        <a href="category" class="bubble hMargin">continue shopping</a>
                        <a href="checkout" class="bubble hMargin">proceed to checkout ➟</a>
                    </div>
                    <h4 id="subtotal" th:text="'Total: € ' + ${session.shoppingCart.totalPrice}">total: € 1.70
                    </h4>
                    <table id="cartTable">
                        <tbody>
                        <tr class="header">
                            <th>product</th>
                            <th>name</th>
                            <th>price</th>
                            <th>quantity</th>
                        </tr>
                        <tr class="lightBlue" th:each="itemInCart : ${session.shoppingCart.itemsInCart}">
                            <td>
                                <img th:alt="${itemInCart.product.name}" th:src="@{${itemInCart.product.imgAddress}}"/>
                            </td>
                            <td><span class="smallText" th:text="${itemInCart.product.name}">milk</span></td>
                            <td>
                                <span th:text="'€ ' + ${itemInCart.subTotalPrice}">€ 1.70</span>
                                <br/>
                                <span th:text="'(€ ' + ${itemInCart.product.price}+ '/ unit)'"
                                      class="smallText">(€ 1.70/ unit )</span>

                            </td>

                            <td>
                                <form action="updateCart" method="post">
                                    <input type="hidden" name="productId" th:value="${itemInCart.product.id}"
                                           value="1"/>
                                    <input type="text" maxlength="2" size="2" th:value="${itemInCart.quantity}"
                                           name="quantity"
                                           style="margin:5px"/>
                                    <input type="submit" name="submit" value="update"/>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="footer" th:include="/fragments/footer_section::footer_section"></div>
        </div>
    </body>

</html>
