<!DOCTYPE HTML>
<html xmlns=" http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/header_section::header_section">

    </head>
    <body>
        <div th:include="/fragments/left_section::left_section"></div>
        <div id="main">
            <div id="header" th:include="/fragments/top_section::top_section"></div>
            <div id="categoryLeftColumn">
                <span th:remove="tag" th:each="category : ${application.categories}">
                      <div th:if="${session.selectedCategory.name==category.name}" id="selectedCategory"
                           class="categoryButton">
                          <span class="categoryText" th:text="${category.name}"></span>
                      </div>

                        <a th:if="${session.selectedCategory.name!=category.name}" class="categoryButton"
                           th:href="@{'category?category_id=' + ${category.id}}"
                           style="background-color: rgb(211, 237, 232);">
                            <span class="categoryText" th:text="${category.name}"></span>
                        </a>
                </span>

            </div>
            <div id="categoryRightColumn">
                <p id="categoryTitle" th:text="${session.selectedCategory.name}">[selectedCategory_name]</p>
                <table id="productTable">
                    <tbody>
                    <tr class="lightBlue" th:each="product : ${session.selectedProducts}">
                        <td>
                            <img th:alt="${product.name}" th:src="@{${product.imgAddress}}"/>
                        </td>

                        <td>
                            <br/>
                            <span class="smallText" th:text="${product.name}">[product_name]</span>
                            <br/>
                            <span class="smallText" th:text="${product.description}">[product_name]</span>

                        </td>

                        <td th:text="'€ ' + ${product.price}">1.70</td>


                        <td>
                            <form method="post" action="addToCart">
                                <input type="hidden" th:value="${product.id}" name="product_id"/>
                                <input type="submit" value="add to cart" name="submit"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div id="footer" th:include="/fragments/footer_section::footer_section"></div>
        </div>
    </body>

</html>
