<!DOCTYPE HTML>
<html xmlns=" http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/header_section::header_section">
    </head>
    <body>
        <div th:include="/fragments/left_section::left_section"></div>
        <div id="main">
            <div id="header" th:include="/fragments/top_section::top_section"></div>
            <div id="indexLeftColumn">
                <div id="welcomeText">
                    <p style="font-size: larger">
                        <span th:text="#{welcome.message}"></span>
                    </p>

                    <p>
                        Our unique home delivery service brings you fresh organic produce, dairy, meats, breads and
                        other delicious and healthy items direct to your doorstep.
                    </p>
                </div>

            </div>

            <div id="indexRightColumn">
                <div class="categoryBox" th:each="category : ${application.categories}">
                    <a th:href="@{'category?category_id='+${category.id}}">
                        <span class="categoryLabel" style="opacity: 0.7;"></span>
                        <span class="categoryLabelText" th:text="${category.name}"
                              style="color: rgb(68, 68, 68);">dairy</span>
                        <img class="categoryImage" alt="dairy" th:src="@{${category.imgAddress}}"/>
                    </a>
                </div>
            </div>

            <div id="footer" th:include="/fragments/footer_section::footer_section"></div>
        </div>
    </body>
    <script type="text/javascript" th:src="@{/js/jquery-1.4.2.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui-1.8.4.custom.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('a.categoryButton').hover(
                    function () {
                        $(this).animate({backgroundColor: '#b2d2d2'})
                    },
                    function () {
                        $(this).animate({backgroundColor: '#d3ede8'})
                    }
            );

            $('div.categoryBox').hover(over, out);

            function over() {
                var span = this.getElementsByTagName('span');
                $(span[0]).animate({opacity: 0.3});
                $(span[1]).animate({color: 'white'});

            }

            function out() {
                var span = this.getElementsByTagName('span');
                $(span[0]).animate({opacity: 0.7});
                $(span[1]).animate({color: '#444'});
            }
        });
    </script>

</html>
